<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小康智慧社区平台</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
    <!--bootstrap 的样式文件-->
    <link rel="stylesheet" href="__ROOT__/static/home/bootstrap/css/bootstrap.min.css">
    <!--自己写的样式文件-->
    <link rel="stylesheet" href="__ROOT__/static/home/css/index.css">
</head>

<body >

       <nav class="navbar navbar-inverse navbar-fixed-top">
           <div class="container">
               <div class="navbar-header">
                   <!--响应式菜单-->
                   <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a href="http://www.shaukon.xin/BLOG" class="navbar-brand"><strong>小康之家</strong></a>
               </div>
               <div class="collapse navbar-collapse" id="responsive-navbar">
                   <ul class="nav navbar-nav">
                       <li class="active"><a href="#">首页</a></li>
                       <li><a href="{:url('index/lego/index')}">乐购</a></li>
                       <li><a href="{:url('index/linli/index')}">邻里</a></li>
                       <li><a href="{:url('index/mine/index')}">我的</a></li>
                   </ul>
                   <!--<a href="#" class="btn navbar-btn btn-paimary btn-md navbar-right">登陆</a>-->
                   <div class="profile navbar-right">
                       <ul class="nav navbar-nav">
                           <li><a href="{:url('index/index/login')}" data-toggle="modal" data-target="#login-modal">登陆</a></li>
                           <li><a href="{:url('index/index/register')}">注册</a></li>
                       </ul>
                       <p class="navbar-text hidden-xs">您好，<a href="{:url('index/mine/index')}" class="navbar-link">{$nickname}</a></p>
                   </div>
               </div>


           </div>
       </nav>


       <!---->
       <!--<div class="banner" align="center">-->
           <!--<img src="__ROOT__/static/img/banner/banner2.jpg" alt="小康之家">-->
       <!--</div>-->
        <!--banner图，幻灯片-->
       <!--<div class="container">-->

           <!--旋转木马banner-->
           <!--<div class=" rousel slide"  自动播放幻灯片 data-ride="carousel" id="slideshow" data-interval="3000" 两张幻灯片时间间隔
            data-pause="true" 鼠标放在幻灯片上，暂停。 data-wrap="true" 循环播放>-->
           <div class="carousel slide" data-ride="carousel" id="slideshow" >
               <!--标示当前播放的幻灯片的小圆点-->
               <ol class="carousel-indicators" >
                   <li data-target="#slideshow" data-slide-to="0" calss="active" style="background-color: black"></li>
                   <li data-target="#slideshow" data-slide-to="1" style="background-color: black"></li>
                   <li data-target="#slideshow" data-slide-to="2" style="background-color: black"></li>
                   <!--<li data-target="#slideshow" data-slide-to="2" style="background-color: black"></li>-->
               </ol>

               <!--幻灯片-->
               <div class="carousel-inner">
                   <div class="item active">
                       <img align="center" src="__ROOT__/static/home/img/banner/banner1.jpg" width="900" height="354" alt="">
                       <!--文字描述-->
                       <!--<div class="carousel-caption">-->
                       <!--<h2>xiaokang</h2>-->
                       <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur </p>-->
                       <!--</div>-->
                   </div>
                   <div class="item">
                       <img align="center" src="__ROOT__/static/home/img/banner/banner2.jpg" width="900" height="354" alt="">
                       <!--文字描述-->
                       <!--<div class="carousel-caption">-->
                           <!--<h2>xiaokang</h2>-->
                           <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur </p>-->
                       <!--</div>-->
                   </div>
                   <div class="item">
                       <img align="center" src="__ROOT__/static/home/img/banner/banner3.jpg" width="900" height="354" alt="">
                       <!--文字描述-->
                       <div class="carousel-caption">
                           <h1 style="color: #adff2f">小康之家智慧社区</h1>
                           <h4 style="color: black">小康之家，开启您的智慧生活！</h4>
                       </div>
                   </div>
               </div>

               <!--前后控制幻灯片-->
               <a href="#slideshow" data-slide="prev" class="left carousel-control">
                   <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
               <a href="#slideshow" data-slide="next" class="right carousel-control">
                   <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
           </div>


       <div class="container" style=" padding: 30px" >
           <div class="row">
               <div class="col-xs-6 col-md-3">
                   <div class="well well-xs">
                       <a href="{:url('index/index/wuYeGuanJia')}">
                           <img src="__ROOT__/static/home/img/timg.jpg" alt="物业管家">
                           <div class="container">
                               <h1 class="page-header">物业管家</h1>
                               <p>
                                   智能物业服务
                               </p>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-6 col-md-3">
                   <div class="well well-xs">
                       <a href="{:url('index/index/shengHuoGuanJia')}">
                           <img src="__ROOT__/static/home/img/shgj.jpg" alt="生活管家">
                           <div class="container">
                               <h1 class="page-header">生活管家</h1>
                               <p>
                                   生活好帮手
                               </p>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-6 col-md-3">
                   <div class="well well-xs">
                       <a href="{:url('index/index/zhiNengGuanJia')}">
                           <img src="__ROOT__/static/home/img/zngj.jpg" alt="智能管家">
                           <div class="container">
                               <h1 class="page-header">智能管家</h1>
                               <p>
                                   智能体验
                               </p>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-6 col-md-3">
                   <div class="well well-xs">
                       <a href="{:url('index/index/zhiNengJiaJu')}">
                           <img src="__ROOT__/static/home/img/znjj.jpg" alt="家的暖意">
                           <div class="container">
                               <h1 class="page-header">智能家居</h1>
                               <p>
                                   智能家居，更懂你
                               </p>
                           </div>
                       </a>
                   </div>
               </div>

           </div>
       </div>

       <div class="row" style="padding:20px">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <a href="https://www.taobao.com">
                   <img src="__ROOT__/static/home/img/rybh.jpg" alt="日用百货">
               </a>

           </div>
       </div>

       <!--版权-->
       <hr/>
       <div class="container" align="center" style="padding: 70px;">
           Copyright&nbsp;&copy&nbsp; 2018 xiaokang.group All Right Reserved.<br/>
           小康集团 版权所有
       </div>

       <!-- 用户登陆弹出框-->
       <div class="modal fade" id="login-modal" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4>用户登录</h4>
                    </div>
                    <div class="modal-body">
                        <lable for="email">Email</lable>
                        <input type="email" class="form-control" id="email" placeholder="请输入email">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="输入秘密">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">登录</button>
                    </div>
                </div>
            </div>
       </div>

       <!--为对话框添加一个暗的背景-->
       <!--<div class="modal-backdrop in"></div>-->



       <script src="__ROOT__/static/home/js/jquery-3.3.1.min.js"></script>
       <script src="__ROOT__/static/home/bootstrap/js/bootstrap.min.js"></script>
       <script src="__ROOT__/static/home/js/index.js"></script>

</body>
</html>