<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邻里</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
    <!--bootstrap 的样式文件-->
    <link rel="stylesheet" href="__ROOT__/static/home/bootstrap/css/bootstrap.min.css">
    <!--自己写的样式文件-->
    <link rel="stylesheet" href="__ROOT__/static/home/css/linli.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!--响应式菜单-->
                <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://www.shaukon.xin/BLOG" class="navbar-brand"><strong>小康之家</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="responsive-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="__ROOT__/index/index/index">首页</a></li>
                    <li><a href="__ROOT__/index/lego/index">乐购</a></li>
                    <li class="active"><a href="#">邻里</a></li>
                    <li><a href="__ROOT__/index/mine/index">我的</a></li>
                </ul>

            </div>


        </div>
    </nav>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                    <div class="tabbable" id="tabs-717981">
                        <ul class="nav nav-tabs" style="align-content: center">
                            <li class="active">
                                <a href="#panel-102769" data-toggle="tab">精选</a>
                            </li>
                            <li >
                                <a href="#panel-706639" data-toggle="tab">圈子</a>
                            </li>
                        </ul>
                    <div class="tab-content">

                        <!--精选内容-->
                        <div class="tab-pane active" id="panel-102769">
                            <div class="panel-group" id="panel-650140">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-650140" href="#panel-element-167257">生活精选</a>
                                    </div>
                                    <div id="panel-element-167257" class="panel-collapse in">
                                        <div class="panel-body">
                                            <div class="row">

                                                {volist name="shjx" id="vo"}
                                                <div class="col-md-4">
                                                    <div class="thumbnail">
                                                        <img alt="300x200" src="{$vo.img}" />
                                                        <div class="caption">
                                                            <p>
                                                                [生活精选] {$vo.title}
                                                            </p>
                                                            <p>
                                                                <a class="btn btn-primary" href="{:url('index/linli/shjxdetail',['id'=>$vo['id']])}">详情...</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {/volist}


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-650140" href="#panel-element-614325">开心一刻</a>
                                    </div>
                                    <div id="panel-element-614325" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-md-12 column">
                                                <!--模版变量获取数据-->
                                                {volist name="kxyk" id="vo"}
                                                    <div class="media">
                                                        <img src="{$vo.img}" width="200px" height="200px" alt="缩略图" class="meida-object">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="meida heading">{$vo.title}</h4>
                                                        {$vo.content}
                                                    </div>
                                                {/volist}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--圈子内容-->
                        <div class="tab-pane " id="panel-706639">
                            <div class="jumbotron">
                                <h1>
                                    社区圈，告别对门不相认的时代！
                                </h1>
                                <p>
                                    在这里您可以分享自己的乐事，查看自己的关注，发布二手信息，大家讨论相关话题，与邻里形成一个良好的互动沟通！
                                    <br><br>
                                    <a href="{:url('index/linli/postMessage')}">发帖</a>
                                </p>
                            </div>
                            <div class="tabbable" id="tabs-196573">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#fenxiang" data-toggle="tab">分享</a>
                                    </li>
                                    <li>
                                        <a href="#guanzhu" data-toggle="tab">关注</a>
                                    </li>
                                    <li>
                                        <a href="#ershou" data-toggle="tab">二手</a>
                                    </li>
                                    <li>
                                        <a href="#huati" data-toggle="tab">话题</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="fenxiang">
                                        <div class="container">
                                            <div class="row clearfix">
                                                <div class="col-md-12 column">
                                                    {volist name="share" id="vo"}
                                                    <div class="media well">
                                                        <!--发布者信息-->
                                                        <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}" class="pull-left">
                                                            <img src="__ROOT__/{$vo.head_img}"  height="50" width="50" class="media-object" alt='' />
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <!--连接到个人的发布信息列表-->
                                                                <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}">
                                                                    {$vo.nickname}
                                                                </a>
                                                            </h4>
                                                                {$vo.create_time}
                                                            <div class="media">
                                                                <img src="__ROOT__/{$vo.img}" width="200" height="200" class="media-object pull-left" alt='' />
                                                                <div class="media-body">
                                                                    <h4 class="media-heading">
                                                                        {$vo.title}
                                                                    </h4>
                                                                    {$vo.content}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {/volist}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="guanzhu">
                                        <div class="container">
                                            <div class="row clearfix">
                                                <div class="col-md-12 column">

                                                    {volist name="attention" id="vo"}
                                                    <div class="media well">
                                                        <!--发布者信息-->
                                                        <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}" class="pull-left">
                                                            <img src="__ROOT__/{$vo.head_img}"  height="50" width="50" class="media-object" alt='' />
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <!--连接到个人的发布信息列表-->
                                                                <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}">
                                                                    {$vo.nickname}
                                                                </a>
                                                            </h4>
                                                            {$vo.create_time}
                                                            <div class="media">
                                                                <img src="__ROOT__/{$vo.img}" width="200" height="200" class="media-object pull-left" alt='' />
                                                                <div class="media-body">
                                                                    <h4 class="media-heading">
                                                                        {$vo.title}
                                                                    </h4>
                                                                    {$vo.content}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {/volist}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="ershou">
                                        <div class="container">
                                            <div class="row clearfix">
                                                <div class="col-md-12 column">
                                                    {volist name="second_hand" id="vo"}
                                                    <div class="media well">
                                                        <!--发布者信息-->
                                                        <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}" class="pull-left">
                                                            <img src="__ROOT__/{$vo.head_img}"  height="50" width="50" class="media-object" alt='' />
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <!--连接到个人的发布信息列表-->
                                                                <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}">
                                                                    {$vo.nickname}
                                                                </a>
                                                            </h4>
                                                            {$vo.create_time}
                                                            <div class="media">
                                                                <img src="__ROOT__/{$vo.img}" width="200" height="200" class="media-object pull-left" alt='' />
                                                                <div class="media-body">
                                                                    <h4 class="media-heading">
                                                                        {$vo.title}
                                                                    </h4>
                                                                    {$vo.content}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {/volist}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="huati">
                                        <div class="container">
                                            <div class="row clearfix">
                                                <div class="col-md-12 column">

                                                    {volist name="topic" id="vo"}
                                                    <div class="media well">
                                                        <!--发布者信息-->
                                                        <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}" class="pull-left">
                                                            <img src="__ROOT__/{$vo.head_img}"  height="50" width="50" class="media-object" alt='' />
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <!--连接到个人的发布信息列表-->
                                                                <a href="{:url('index/linli/person',['u_id'=>$vo.u_id])}">
                                                                    {$vo.nickname}
                                                                </a>
                                                            </h4>
                                                            {$vo.create_time}
                                                            <div class="media">
                                                                <img src="__ROOT__/{$vo.img}" width="200" height="200" class="media-object pull-left" alt='' />
                                                                <div class="media-body">
                                                                    <h4 class="media-heading">
                                                                        {$vo.title}
                                                                    </h4>
                                                                    {$vo.content}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {/volist}

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>


    <!-- 用户登陆弹出框-->
    <div class="modal fade" id="login-modal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <script src="__ROOT__/static/home/js/jquery-3.3.1.min.js"></script>
    <script src="__ROOT__/static/home/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>