<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小康智慧社区平台</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">
    <!--bootstrap 的样式文件-->
    <link rel="stylesheet" href="__ROOT__/static/home/bootstrap/css/bootstrap.min.css">
    <!--自己写的样式文件-->
    <link rel="stylesheet" href="__ROOT__/static/home/css/lego.css">
</head>

<body >

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--响应式菜单-->
            <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.shaukon.xin/BLOG" class="navbar-brand"><strong>小康之家</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav">
                <li><a href="__ROOT__/index/index/index">首页</a></li>
                <li class="active"><a href="#">乐购</a></li>
                <li><a href="__ROOT__/index/linli/index">邻里</a></li>
                <li><a href="__ROOT__/index/mine/index">我的</a></li>
            </ul>
            <!--<a href="#" class="btn navbar-btn btn-paimary btn-md navbar-right">登陆</a>-->
        </div>


    </div>
</nav>


<div class="container">
    <!--幻灯片-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" data-ride="carousel" id="carousel-380457">

                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-380457">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-380457">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-380457">
                    </li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="__ROOT__/static/home/img/banner/meishi.jpg" />
                    </div>
                    <div class="item">
                        <img alt="" src="__ROOT__/static/home/img/banner/chuman.jpg" />
                    </div>
                    <div class="item">
                        <img alt="" src="__ROOT__/static/home/img/banner/jiadian.jpg" />
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-380457" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-380457" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="tabbable" id="tabs-867901">

                <ul class="nav nav-tabs" style="padding: 10px;">
                    <li class="active">
                        <a href="#panel-161296" data-toggle="tab">今日必抢</a>
                    </li>

                    <li>
                        <a href="#panel-195595" data-toggle="tab">积分商城</a>
                    </li>
                </ul>

                <div class="tab-content" style="padding: 10px;">
                    <!--今日必抢内容-->
                    <div class="tab-pane active" id="panel-161296">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="__ROOT__/static/home/img/lego/hsgj.jpg" />
                                    <div class="caption">
                                        <h3>
                                            黄山贡菊
                                        </h3>
                                        <p>
                                            黄山贡菊 菊花茶 杯口留30g/罐<br>
                                            <strong style="color: red">9.8</strong> <del style="color: gray">¥60.00</del>
                                        </p>
                                        <p>
                                            <!--<a class="btn btn-primary" href="#">立即购买</a> <a class="btn" href="#">加入购物车</a>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="__ROOT__/static/home/img/lego/xjzym.jpg" />
                                    <div class="caption">
                                        <h3>
                                            夏季遮阳帽
                                        </h3>
                                        <p>
                                            夏季遮阳帽防晒紫外线明星同款
                                            <br><strong style="color: red">9.90</strong> <del style="color: gray">¥38.80</del>
                                        </p>
                                        <p>
                                            <!--<a class="btn btn-primary" href="#">立即购买</a> <a class="btn" href="#">加入购物车</a>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="__ROOT__/static/home/img/lego/scaynm.jpg" />
                                    <div class="caption">
                                        <h3>
                                            四川安岳柠檬
                                        </h3>
                                        <p>
                                            四川安岳柠檬两斤装 安岳柠檬大果两斤装 新鲜黄柠檬2斤特价包邮
                                            <br><strong style="color: red">9.90</strong> <del style="color: gray">¥19.80</del>

                                        </p>
                                        <p>
                                            <!--<a class="btn btn-primary" href="#">立即购买</a> <a class="btn" href="#">加入购物车</a>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--积分商城内容-->
                    <div class="tab-pane" id="panel-195595">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="__ROOT__/static/home/img/lego/xyy.jpg" />
                                    <div class="caption">
                                        <h3>
                                            洗衣液
                                        </h3>
                                        <p>
                                            蓝月亮洗衣液4kg瓶装
                                            <br><strong style="color: red">5分</strong> <strong style="color: gray"> + ¥19.80</strong>

                                        </p>
                                        <p>
                                            <!--<a class="btn btn-primary" href="#">立即购买</a> <a class="btn" href="#">加入购物车</a>-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="__ROOT__/static/home/img/lego/xkb.jpg" />
                                    <div class="caption">
                                        <h3>
                                            斜挎包
                                        </h3>
                                        <p>
                                            修行百搭斜挎单肩帆布包
                                            <br><strong style="color: red">5分</strong> <strong style="color: gray"> + ¥9.80</strong>
                                        </p>
                                        <p>
                                            <!--<a class="btn btn-primary" href="#">立即购买</a> <a class="btn" href="#">加入购物车</a>                                        </p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img alt="300x200" src="__ROOT__/static/home/img/lego/zxh.jpg" />
                                    <div class="caption">
                                        <h3>
                                            针线盒
                                        </h3>
                                        <p>
                                            家用针线盒套装
                                            <br><strong style="color: red">5分</strong> <strong style="color: gray"> + ¥8.90</strong>
                                        </p>
                                        <p>
                                            <!--<a class="btn btn-primary" href="#">立即购买</a> <a class="btn" href="#">加入购物车</a>                                        </p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-732000">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#guanjiatuijian" data-toggle="tab">管家推荐</a>
                    </li>
                    <li>
                        <a href="#nanbeitechan" data-toggle="tab">南北特产</a>
                    </li>
                    <li>
                        <a href="#zhinengchanpin" data-toggle="tab">智能产品</a>
                    </li>
                    <li>
                        <a href="#jujiabibei" data-toggle="tab">居家必备</a>
                    </li>
                </ul>

                <div class="tab-content" style="padding: 10px;">
                    <div class="tab-pane active" id="guanjiatuijian">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/jiazheng.jpg" />
                                        <div class="caption">
                                            <p>
                                                家政保洁-上门服务
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/chuman.jpg" />
                                        <div class="caption">
                                            <p>
                                                轻喜到家-家庭除螨
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/meishi.jpg" />
                                        <div class="caption">
                                            <p>
                                                带上美食去美丽的诗和远方
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/hufu.jpg" />
                                        <div class="caption">
                                            <p>
                                                如何保持雪白肌肤，从这里开始
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--南北特产-->
                    <div class="tab-pane" id="nanbeitechan">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/hcbzr.jpg" />
                                        <div class="caption">
                                            <p>
                                                好吃不长肉，长假追剧必备ing
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/huc.jpg" />
                                        <div class="caption">
                                            <p>
                                                南北好干货，滋补过新年
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/lsh.jpg" />
                                        <div class="caption">
                                            <p>
                                                春季出游零食汇集，记得我哦
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--智能产品-->
                    <div class="tab-pane" id="zhinengchanpin">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/jkys.jpg" />
                                        <div class="caption">
                                            <p>
                                                健康饮食，让生活更精彩
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/znjj.jpg" />
                                        <div class="caption">
                                            <p>
                                                智能家居，智慧选择
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/znkj.jpg" />
                                        <div class="caption">
                                            <p>
                                                智能科技，让居家更安全
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--居家必备-->
                    <div class="tab-pane" id="jujiabibei">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/jiadian.jpg" />
                                        <div class="caption">
                                            <p>
                                                惊喜到家，家电狂欢
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <a href="">
                                        <img alt="300x200" src="__ROOT__/static/home/img/lego/chouzhi.jpg" />
                                        <div class="caption">
                                            <p>
                                                挑好物，居家生活自在享
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!--版权-->
<hr/>
<div class="container" align="center" style="padding: 70px;">
    Copyright&nbsp;&copy&nbsp; 2018 xiaokang.group All Right Reserved.<br/>
    小康集团 版权所有
</div>





<!-- 用户登陆弹出框-->
<div class="modal fade" id="login-modal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--为对话框添加一个暗的背景-->
<!--<div class="modal-backdrop in"></div>-->



<script src="__ROOT__/static/home/js/jquery-3.3.1.min.js"></script>
<script src="__ROOT__/static/home/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="__ROOT__/static/js/index.js"></script>-->

</body>
</html>